<div class="container pt-4 px-4">
    <form method="post" action="/add_category" class="all-form">
        <div class="flash-data" data-flashdata="<%= status %>"></div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="hidden" name="" class="status" value="created"/>
            <input autofocus autocomplete="off" type="text" class="form-control" id="category" name="category" placeholder="Product's category">
            <% if(typeof errors != 'undefined') { %>
                <% errors.forEach(error => { %>
                    <p class="text-danger mb-0 mt-1"><%= error.msg %></p>
                <% }) %>
            <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/categories" class="btn btn-warning ms-3">Back</a>
    </form>
</div>